<div class="top-menu">
    <ul class="menu">
        <li><a href="{{ url('home') }}">Inicio</a></li>
        <li><a href="{{ url('faq-list') }}">Faq</a></li>
        <li><a href="{{ url('page', slug='doc') }}">Doc</a></li>
        <li><a href="{{ url('community-events') }}">Comunidades</a></li>
    </ul>
</div>

<div class="header">
    <div class="header-image">
        <img src="{{ static('web/images/logo.png') }}" width="30" />
    </div>
    <div class="header-title">
        <a href="{{ url('home') }}">
            <h1>Asociación Python España</h1>
        </a>
    </div>
</div>
